.main_post{
    background-color: black;
    display: flex;
}
.main_post p{
   margin: 0;
   padding: 0;
}
.post {
    margin-top: 10vh;
    padding: 0 100px;
}

.post img {
    max-width: 100%;
}

.post h2 {
    font-weight: bold;
    font-size: 3em;
}

.main_post_nav {
    width: 70px;
    background-color: black;
    height: 100vh;
}

.main_post_div {
    background-color: white;
    border-top-left-radius:5%;
    border-bottom-left-radius:5%;
}
.line {
    width: 100%;
    background-color: black;
    height: 1px;
    opacity: 0.2;
}
.main_post_comments{
    background-color: white;
    border-left: 1px outset;
    padding-left: 10px;
    width: 400px;
    padding-right: 20px;
}

.responses{
    margin-bottom: 15px;
    margin-top: 10vh;
}
.main_comments img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}